* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-color: #f5f5f5;
}
h1, h2, h3,
h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  color: #404040
}
header {
  width: 100%;
  background-color: #fff;
  height: 50px;
}
header h1 {
  text-align: center;
  text-shadow: 2px 2px 12px;
}
.container {
  background-image: url('img/cork-pattern.jpg');
  background-size: contain;
  border: 15px solid #a06f41;
  box-shadow: inset 0px 0px 20px;
  overflow: auto;
}
.slider-outer {
  margin: 0 auto;
  width: 80%;
  height: auto;
  padding: 3%;
  position: relative;
}
.slider-inner {
  position: relative;
  overflow: hidden;
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  padding: 20px 0;
}
.slider-inner img {
  width: 30%;
  height: auto;
  margin-left: 3%;
}
.slider-inner div {
  display: none;
}
.slider-inner div.active {
  display: inline-block;
}
/*.slider-inner img:first-child,
.slider-inner img:nth-child(2) {
  margin-right: 11%;*/
}
.slider-outer img {
  width: 25%;
  height: auto;
  border-radius: 5px;
  box-shadow: 4px 4px 20px;
}
.slider-outer .prev,
.slider-outer .next {
  background-color: #f5f5f5;
  width: 5%;
  height: auto;
  float: left;
  cursor: pointer;
  z-index: 200;
}
.slider-outer .prev {
  position: absolute;
  left: -5%;
}
.slider-outer .next {
  position: absolute;
  right: -5%;
}
main {
  width: 100%;
  height: auto;
}
.text-box1 {
  width: 60%;
  height: auto;
  float: left;
  margin-left: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 5%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 12px rgb(169, 169, 169);
}
.text-box2 {
  width: 30%;
  float: right;
  height: auto;
  margin-right: 5%;
  margin-top: 2.5%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 12px rgb(169, 169, 169);
}
main h1, h2 {
  padding: 2.5%;
  font-size: 1.25em;
}
p {
  color: #404040;
  font-family: 'Raleway';
  line-height: 1.25;
  padding: 2.5%;
  font-size: 1em;
}
footer {
  background-color: #202020;
  clear: both;
  padding: 6%;
}
.footer-wrapper {
  width: 45%;
  margin: 0 auto;
}
.social-links {
  display: inline;
}
footer h2 {
  font-family: 'Raleway';
  font-weight: 100;
  display: inline;
  padding: 0;
  color: #fff;
  font-size: 1.25em;
}
footer ul {
  padding: 0 26.9%;
}
footer ul li {
  display: inline;
  padding: 2.5%;
}
footer img {
  width: 5%;
  margin: 0;
  padding: 0;
}
